* {
margin: 0;
padding: 15px;
box-sizing: border-box;
}

body {
    background-color: #faf7f4;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
.tope {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 30px;
}
h1{
    padding-top: 45px;
    background-color: rgb(148, 148, 165);
    width: 570px;
    text-align: center;
}

img{
    width: 150px;
    margin-left: 50px;
    height: 200px;
    margin-top: -38px;
    
}

.subtitulo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.flex-container{
    flex-direction: row;
    background: steelblue;
    justify-content: space-between;
    display: flex;
}


.Caja1 {
    resize: none;
    padding: 10px;
    margin: 20px;

}

.Caja2 {
    resize: none;
    padding: 10px;
    margin: 20px;
}

.botoncitos{
    flex-direction: row;
    display: flex;
    justify-content:space-evenly;
}